*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
    
}
.navbar{
    display: flex;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    padding: 0 3vw;
    background-color: #2e1505; 
    position:fixed;
    top: 0;
    z-index: 1000;
}

.navbar img{
    height: 4rem;
    width: 4rem;
    border-radius: 20px;
    margin-top: 5px;
}

.navbar h1{
    color: rgba(233, 227, 225, 0.952);
    padding-top: 20px;
}

.right_navbar{
    display: flex;
    align-items: center;
    gap: 30px;
}
.right_navbar a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,;
   font-size: 1.2rem;
   color:white;
   text-decoration: none;
}
.right_navbar i{
    display: none;
    font-size: 1.6vw;
    flex-wrap: 800;
}

/* first section */
.first_section{
    display: flex;
    /* height: calc(100% - 70px); */
    height: 100%;
    width: 100%;
    background-color: #010101; 
}

.fl_section{
    display: flex;
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.fl_section h1{
    font-size: 3.75rem;
    padding:40px 0px 0px 250px; 
    color: white; 
    letter-spacing: 1px;
}

.fl_section h1 span{
    color: orangered;
}

.fr_section{
    display: flex;
    padding-left: 30%;
    
}
.fr_section img{
    height: 100%;
    width: 100%;
}
.first_section .btn {
    background-color: rgb(255, 255, 0);
    font-size: 15px;
    color: #010101;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 30px 0px 0px 30px;
}

/* second_section */
.second_section{
    height: calc(100% - 70px);
    width: 100%;
    background-color: #010101;
}

.second_section h2{
    text-align: center;
    font-size: 4.375rem;
    justify-content: center;
    display: flex;
    color: white;
}
.s_container{
    display: flex;
    justify-content: center;
    height: auto;
    width: auto;
}

.s_container img {
    display: flex;
    height:40% auto;
    width: 20%;
    padding: 0.625px;
    margin: 6% 0% 0% 15%;
    border-radius: 20px;
}
.s_left p{
    font-size: 1.5rem;
    padding: 60px;
    margin: 15% 5% 0% 0%;
    color: white;
}
/* program */
.program{
    height: calc(100% - 70px);
    width: 100%;
    background-color: #010101; 


}
.program h2{
    display: flex;
    justify-content: center;
    font-size: 60px;
    padding-top: 30px;
}
.p_contain{
    justify-content: center;
    padding: 90px;
    display: grid;
    grid-template-columns: repeat(3, 320px);
    grid-gap: 30px;

}
.p_contain img{
    height: auto;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}
.program p{
    font-size: 1.5rem;
    padding: 50px;
}










@media (max-width:600px) {
    /* .navbar */
    .navbar{
        color: white;
        padding: 0 3vw;
    }
    .navbar h1{
        font-size: 6vw;
    }

    .right_navbar a{
        display: none;
    }

    .right_navbar i{
        display: block;
        font-size: 9vw;
        color: black;
    }

    .navbar img{
        height: 3rem;
        width: 3rem;   
        border-radius: 40px; 
    }

    /* first_section */
    .first_section {
        flex-direction: column;
        height: auto; 
    }
    
    .fl_section {
        width: 100%; 
        position: relative; 
        }
    
    .fl_section h1 {
        font-size: 35px; 
        padding: 20px;
        text-align: center; 
    }
    
     .fr_section {
        width: 100%; 
        padding-left: 0; 
    }
    
    .fr_section img {
        width: 100%; 
        height: auto;
        margin-top: 80px;
        }

    .first_section .btn {
        font-size: 10px;
        margin: 30px 0px 0px 70px;
    }
    /* second_section */
    .second_section { 
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .second_section h2{
        /* padding-top: 50px; */
        margin-top: 45px;
        font-size: 40px;
    }
    .s_container {
       display: flex;
       flex-direction: column;
    }
    .s_container img{
        height: 40vh;
        width: 80vw;
       margin-left: 35px;
       padding-top: 40px;
    }
    .s_left p{
        margin-top: -30px;
        font-size: 1.1rem;
    }
    

}
    
  
    
